<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap_css.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />

    <title>Your Notes</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% include 'includes/alert.html' %}
    <br>
    <br>
    <div class="row justify-content-center" style="margin: 20px;">
        {% if notes %}
            {% for note in notes %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card">
                    {% if note[5] %}
                    <img src="{{ url_for('static', filename=note[5]) }}" alt="" class="card-img-top" height="150">
                    {% else %}
                    <img src="https://cdn.discordapp.com/attachments/1141000258554437672/1146849027300798545/image.png" alt="Default Image" class="card-img-top" height="150">
                    {% endif %}
                    <div class="card-body">
                        <!-- title -->
                        <h2 class="card-title" style="text-align: center;">Title: {{ note[2] }}</h2>
                        <!-- content -->
                        <p class="card-text">{{ note[3] }}</p>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
        {% else %}
        <h1>No Notes Found!</h1>
        {% endif %}
    </div>

</body>
</html>
